# Regression solution

This is assignment is inspired by practices of [Ryan Miller] (https://remiller1450.github.io/).

Using regression for predicting binary outcome.

The [Donner Party] (https://en.wikipedia.org/wiki/Donner_Party) dataset documents the fate of members of the Donner Party, a group of 45 pioneers whose migration to California was delayed by a series of mishaps which resulted in the group being stranded in the Sierra Nevada mountains.

Problem Predict survival status members of the Donner Party. The target variable is Survived.

# Task

Read the data. Pay attention that data has NA values. Itâ€™s better to convert target variable to factor.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
from matplotlib.cm import rainbow
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


data = pd.read_csv("donner_party1.csv")
data = data.dropna()
data.head()

   Survived                 Name Sex   Age Marital Status
0         1        Patrick Breen   M  51.0              M
1         1       Margaret Breen   F  40.0              M
2         1           John Breen   M  14.0              S
3         1    Patrick Breen Jr.   M   9.0              S
4         1  Simon Preston Breen   M   8.0              S

In [2]:
dataset = pd.get_dummies(data, columns = ['Sex'])
standardScaler = StandardScaler()
columns_to_scale = [ 'Age']
#columns_to_scale = [ 'cholesterol',  'gluc']
dataset[columns_to_scale] = standardScaler.fit_transform(dataset[columns_to_scale])
dataset.head()

   Survived                 Name       Age Marital Status  Sex_F  Sex_M
0         1        Patrick Breen  1.901796              M      0      1
1         1       Margaret Breen  1.214198              M      1      0
2         1           John Breen -0.411032              S      0      1
3         1    Patrick Breen Jr. -0.723576              S      0      1
4         1  Simon Preston Breen -0.786085              S      0      1

For prediction we will use only variables Sex and Age.

For predicting binary outcome we will use Generalized Linear Model (method = "glm") and caret package.

In [3]:
dataset.drop('Name',axis='columns', inplace=True)
dataset.drop('Marital Status',axis='columns', inplace=True)
dataset.head()

   Survived       Age  Sex_F  Sex_M
0         1  1.901796      0      1
1         1  1.214198      1      0
2         1 -0.411032      0      1
3         1 -0.723576      0      1
4         1 -0.786085      0      1

In [4]:
dataset = dataset.dropna()
y = dataset['Survived' ]
X = dataset.drop(['Survived'], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [9]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_absolute_error

dt_classifier = LogisticRegression()
dt_classifier.fit(X_train, y_train)
pred = dt_classifier.predict(X_train)

print("accuracy_score : ",accuracy_score(pred,y_train))
print("slope    : ",dt_classifier.coef_[0][1])
print("intercept: ",dt_classifier.intercept_[0])

accuracy_score :  0.7166666666666667
slope    :  0.6847911502268875
intercept:  0.5338384249230955

What is your in-sample accuracy? Build a confusion matrix

In [11]:
print("accuracy_score : ",accuracy_score(pred,y_train))

accuracy_score :  0.7166666666666667

In [12]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train, pred)

array([[16, 10],
       [ 7, 27]], dtype=int64)

Use a cross-validation with method = "repeatedcv", number = 5, repeats = 10. Does cross-validation improve the accuracy?

In [25]:
from sklearn.model_selection import GridSearchCV

grid={"C":np.logspace(-3,3,7), "penalty":["l1","l2"]}
dt_classifier = GridSearchCV(LogisticRegression(),grid,  cv =5, n_jobs=10)
dt_classifier.fit(X_train, y_train)
pred = dt_classifier.predict(X_train)

print("accuracy_score : ",dt_classifier.best_score_)

accuracy_score :  0.7333333333333334

c:\users\nika\appdata\local\programs\python\python39\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [       nan 0.56666667        nan 0.56666667        nan 0.66666667
        nan 0.73333333        nan 0.7               nan 0.7
        nan 0.7       ]
  warnings.warn(