# Machine learning assignment
 
This assignment is based on materials from Coursera course Practical machine learning

# Background
Using devices such as Jawbone Up, Nike FuelBand, and Fitbit it is now possible to collect a large amount of data about personal activity relatively inexpensively. These type of devices are part of the quantified self movement – a group of enthusiasts who take measurements about themselves regularly to improve their health, to find patterns in their behavior, or because they are tech geeks. One thing that people regularly do is quantify how much of a particular activity they do, but they rarely quantify how well they do it. In this project, your goal will be to use data from accelerometers on the belt, forearm, arm, and dumbell of 6 participants. They were asked to perform barbell lifts correctly and incorrectly in 5 different ways. More information is available from the website here: http://groupware.les.inf.puc-rio.br/har (see the section on the Weight Lifting Exercise Dataset).

# Data
The training data for this project are available here:

https://d396qusza40orc.cloudfront.net/predmachlearn/pml-training.csv

The test data are available here:

https://d396qusza40orc.cloudfront.net/predmachlearn/pml-testing.csv

The data for this project come from this source: http://groupware.les.inf.puc-rio.br/har. If you use the document you create for this class for any purpose please cite them as they have been very generous in allowing their data to be used for this kind of assignment.

# What you should do
The goal of your project is to predict the manner in which they did the exercise. This is the “classe” variable in the training set. You may use any of the other variables to predict with. You should create a report describing how you built your model, how you used cross validation, what you think the expected out of sample error is, and why you made the choices you did. You will also use your prediction model to predict 20 different test cases.

Also you should explain how do you deal with NA’s values and investigate correlation.

You repository for this assignment should consist of R markdown file, compiled html file and prediction.csv file with data from pml-testing.csv and ‘classe’ column with predictions for 20 observation.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing

In [2]:
training = pd.read_csv("pml-training.csv")
testing = pd.read_csv("pml-testing.csv")
training.head()

c:\users\nika\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (11,14,19,22,25,70,73,86,87,89,90,94,97,100) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,user_name,raw_timestamp_part_1,raw_timestamp_part_2,cvtd_timestamp,new_window,num_window,roll_belt,pitch_belt,yaw_belt,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,classe
0,1,carlitos,1323084231,788290,05/12/2011 11:23,no,11,1.41,8.07,-94.4,...,0.03,0.00,-0.02,192,203,-215,-17,654.0,476.0,A
1,2,carlitos,1323084231,808298,05/12/2011 11:23,no,11,1.41,8.07,-94.4,...,0.02,0.00,-0.02,192,203,-216,-18,661.0,473.0,A
2,3,carlitos,1323084231,820366,05/12/2011 11:23,no,11,1.42,8.07,-94.4,...,0.03,-0.02,0.00,196,204,-213,-18,658.0,469.0,A
3,4,carlitos,1323084232,120339,05/12/2011 11:23,no,12,1.48,8.05,-94.4,...,0.02,-0.02,0.00,189,206,-214,-16,658.0,469.0,A
4,5,carlitos,1323084232,196328,05/12/2011 11:23,no,12,1.48,8.07,-94.4,...,0.02,0.00,-0.02,189,206,-214,-17,655.0,473.0,A

In [3]:
testing.head()

,Unnamed: 0,user_name,raw_timestamp_part_1,raw_timestamp_part_2,cvtd_timestamp,new_window,num_window,roll_belt,pitch_belt,yaw_belt,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,problem_id
0,1,pedro,1323095002,868349,05/12/2011 14:23,no,74,123.00,27.00,-4.75,...,0.74,-3.34,-0.59,-110,267,-149,-714,419,617,1
1,2,jeremy,1322673067,778725,30/11/2011 17:11,no,431,1.02,4.87,-88.90,...,1.12,-2.78,-0.18,212,297,-118,-237,791,873,2
2,3,jeremy,1322673075,342967,30/11/2011 17:11,no,439,0.87,1.82,-88.50,...,0.18,-0.79,0.28,154,271,-129,-51,698,783,3
3,4,adelmo,1322832789,560311,02/12/2011 13:33,no,194,125.00,-41.60,162.00,...,1.38,0.69,1.80,-92,406,-39,-233,783,521,4
4,5,eurico,1322489635,814776,28/11/2011 14:13,no,235,1.35,3.33,-88.60,...,-0.75,3.10,0.80,131,-93,172,375,-787,91,5

## Clean Data

In [4]:
training = training.dropna(1)
testing = testing.dropna(1)

In [5]:
training.head()

,Unnamed: 0,user_name,raw_timestamp_part_1,raw_timestamp_part_2,cvtd_timestamp,new_window,num_window,roll_belt,pitch_belt,yaw_belt,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,classe
0,1,carlitos,1323084231,788290,05/12/2011 11:23,no,11,1.41,8.07,-94.4,...,0.03,0.00,-0.02,192,203,-215,-17,654.0,476.0,A
1,2,carlitos,1323084231,808298,05/12/2011 11:23,no,11,1.41,8.07,-94.4,...,0.02,0.00,-0.02,192,203,-216,-18,661.0,473.0,A
2,3,carlitos,1323084231,820366,05/12/2011 11:23,no,11,1.42,8.07,-94.4,...,0.03,-0.02,0.00,196,204,-213,-18,658.0,469.0,A
3,4,carlitos,1323084232,120339,05/12/2011 11:23,no,12,1.48,8.05,-94.4,...,0.02,-0.02,0.00,189,206,-214,-16,658.0,469.0,A
4,5,carlitos,1323084232,196328,05/12/2011 11:23,no,12,1.48,8.07,-94.4,...,0.02,0.00,-0.02,189,206,-214,-17,655.0,473.0,A

In [6]:
print("number of rows : ", training.shape[0])
print("number of columns : ", training.shape[1])

number of rows :  19622
number of columns :  60

In [7]:
testing.head()

,Unnamed: 0,user_name,raw_timestamp_part_1,raw_timestamp_part_2,cvtd_timestamp,new_window,num_window,roll_belt,pitch_belt,yaw_belt,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,problem_id
0,1,pedro,1323095002,868349,05/12/2011 14:23,no,74,123.00,27.00,-4.75,...,0.74,-3.34,-0.59,-110,267,-149,-714,419,617,1
1,2,jeremy,1322673067,778725,30/11/2011 17:11,no,431,1.02,4.87,-88.90,...,1.12,-2.78,-0.18,212,297,-118,-237,791,873,2
2,3,jeremy,1322673075,342967,30/11/2011 17:11,no,439,0.87,1.82,-88.50,...,0.18,-0.79,0.28,154,271,-129,-51,698,783,3
3,4,adelmo,1322832789,560311,02/12/2011 13:33,no,194,125.00,-41.60,162.00,...,1.38,0.69,1.80,-92,406,-39,-233,783,521,4
4,5,eurico,1322489635,814776,28/11/2011 14:13,no,235,1.35,3.33,-88.60,...,-0.75,3.10,0.80,131,-93,172,375,-787,91,5

In [8]:
print("number of rows : ", testing.shape[0])
print("number of columns : ", testing.shape[1])

number of rows :  20
number of columns :  60

## Next, we get rid of some columns that do not contribute much to the accelerometer measurements.

In [9]:
training = training[training.columns.drop(list(training.filter(regex='timestamp')))]
training = training[training.columns.drop(list(training.filter(regex='window')))]
training = training[training.columns.drop(list(training.filter(regex='user_name')))]
training = pd.get_dummies(training, columns = ['classe'])

In [10]:
training['classe_B'] = training['classe_B'].replace([1],2)
training['classe_C'] = training['classe_C'].replace([1],3)
training['classe_D'] = training['classe_D'].replace([1],4)
training['classe_E'] = training['classe_E'].replace([1],5)
training['classe'] = training['classe_A'] +  training['classe_B']+  training['classe_C']+  training['classe_D']+  training['classe_E']
training = training.drop(['classe_A'], axis = 1)
training = training.drop(['classe_B'], axis = 1)
training = training.drop(['classe_C'], axis = 1)
training = training.drop(['classe_D'], axis = 1)
training = training.drop(['classe_E'], axis = 1)
training.head()

,Unnamed: 0,roll_belt,pitch_belt,yaw_belt,total_accel_belt,gyros_belt_x,gyros_belt_y,gyros_belt_z,accel_belt_x,accel_belt_y,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,classe
0,1,1.41,8.07,-94.4,3,0.00,0.00,-0.02,-21,4,...,0.03,0.00,-0.02,192,203,-215,-17,654.0,476.0,1
1,2,1.41,8.07,-94.4,3,0.02,0.00,-0.02,-22,4,...,0.02,0.00,-0.02,192,203,-216,-18,661.0,473.0,1
2,3,1.42,8.07,-94.4,3,0.00,0.00,-0.02,-20,5,...,0.03,-0.02,0.00,196,204,-213,-18,658.0,469.0,1
3,4,1.48,8.05,-94.4,3,0.02,0.00,-0.03,-22,3,...,0.02,-0.02,0.00,189,206,-214,-16,658.0,469.0,1
4,5,1.48,8.07,-94.4,3,0.02,0.02,-0.02,-21,2,...,0.02,0.00,-0.02,189,206,-214,-17,655.0,473.0,1

In [11]:
testing = testing[testing.columns.drop(list(testing.filter(regex='timestamp')))]
testing = testing[testing.columns.drop(list(testing.filter(regex='window')))]
testing = testing[testing.columns.drop(list(testing.filter(regex='user_name')))]
testing.head()

,Unnamed: 0,roll_belt,pitch_belt,yaw_belt,total_accel_belt,gyros_belt_x,gyros_belt_y,gyros_belt_z,accel_belt_x,accel_belt_y,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,problem_id
0,1,123.00,27.00,-4.75,20,-0.50,-0.02,-0.46,-38,69,...,0.74,-3.34,-0.59,-110,267,-149,-714,419,617,1
1,2,1.02,4.87,-88.90,4,-0.06,-0.02,-0.07,-13,11,...,1.12,-2.78,-0.18,212,297,-118,-237,791,873,2
2,3,0.87,1.82,-88.50,5,0.05,0.02,0.03,1,-1,...,0.18,-0.79,0.28,154,271,-129,-51,698,783,3
3,4,125.00,-41.60,162.00,17,0.11,0.11,-0.16,46,45,...,1.38,0.69,1.80,-92,406,-39,-233,783,521,4
4,5,1.35,3.33,-88.60,3,0.03,0.02,0.00,-8,4,...,-0.75,3.10,0.80,131,-93,172,375,-787,91,5

In [12]:
dataset = training
#y = dataset['classe_A' ,'classe_B' ,'classe_C' ,'classe_D' ,'classe_E' ]
y = dataset['classe']
X = dataset.drop(['classe'], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

## We fit a predictive model for activity recognition using Random Forest algorithm because it automatically selects important variables and is robust to correlated covariates & outliers in general.

In [13]:
dt_classifier = RandomForestRegressor()
dt_classifier.fit(X_train, y_train)
pred = dt_classifier.predict(X_train)

In [17]:
from sklearn.metrics import explained_variance_score

In [19]:
explained_variance_score(pred,y_train)

0.9999972887373906

So, the estimated accuracy of the model is 99.9% and the estimated out-of-sample error is 0.1%.

## Predicting for Test Data Set

In [29]:
y_pred_test = dt_classifier.predict(X_test)

In [30]:
y_pred_test

array([3., 3., 2., ..., 3., 1., 4.])

In [33]:
explained_variance_score(y_test, y_pred_test)

0.9999054197075623